<html ng-app="PunchApp">
    <head>
        <title>Punch Clock Dojo</title>
        <link rel="stylesheet" href="templated-typify/assets/css/main.css" />
        <link rel="stylesheet" href="styles/cards.css">
        <link rel="stylesheet" href="styles/navbar.css">
        <script src="/node_modules/angular/angular.js"></script>
        <script src="app/punch/punch.js"></script>
    </head>
    <body>
        <div ng-controller="PunchController">
            <div>
                Data
                <input name='data' ng-model='date'>
                <br>
                Hora
                <input name='hora' ng-model='time'>
                <br>
                <a class='button' type='submit' ng-click='addPunch(date,time)'>
                    Punch Clock
                </a>
            </div>
            <section id="banner">
                <div ng-repeat="punch in getAll()">
                        <a class='button'>Data: {{punch.date}}</a>
                        <a class='button'>Hora: {{punch.time}}</a>
                </div>
            </section>
        </div>
    </body>
</html>